# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
.idea/

# Visual Studio Code
.vscode/
*.code-workspace

# Dart and Flutter
.dart_tool/
.packages
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# Android-specific
android/gradlew
android/gradlew.bat
android/local.properties
android/**/generated/
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradle-archive/
android/**/build/
android/**/outputs/
android/**/tmp/
*.ap_
*.ap_
*.apk
*.dex

# iOS-specific
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Podfile.lock
ios/Pods/
ios/**/profile/
ios/**/release/
ios/**/runner.xcworkspace/xcuserdata/
ios/.symlinks/

# macOS-specific
macos/Flutter/Generated.xcconfig
macos/Flutter/flutter_export_environment.sh
macos/Flutter/ephemeral/
macos/Pods/
macos/Podfile.lock

# Web-specific
lib/generated_plugin_registrant.dart

# Environment Variables (API Key 등 보안 유지)
.env
env/
*.env

# Exceptions (이건 지우지 마세요)
!default.realm